# The built application.
app

# Test coverage files.
coverage.*

# Temporary files.
tmp/

# NodeJS packages.
node_modules/

# Built CSS files.
static/css/dist/*
!static/css/dist/.gitkeep

# The config file for the application.
config.toml
