{{- define "pages/login" -}}
  {{- template "layouts/default/head" . -}}

  {{- template "components/atoms/heading" dict "Level" 1 "Text" .Title -}}

  {{- template "layouts/default/foot" . -}}
{{- end -}}
