{{ define "pages/not-found" }}
  {{ template "layouts/default/head" . }}

  {{ template "components/atoms/heading" dict "Level" 1 "Text" .Title }}


  <p>The page could not be found</p>

  {{ template "layouts/default/foot" . }}
{{ end }}
