{{- define "components/atoms/icon" -}}
  {{- $iconContent := readfile .Icon -}}

  {{- if $iconContent -}}
    {{- if .Classes -}}
      {{- $iconContent = replace $iconContent "<svg" (printf "<svg class=\"%s\"" .Classes) -}}
    {{- end -}}

    {{- trimTrailingNewline $iconContent|raw -}}
  {{- end -}}
{{- end -}}
